html {
    background-color: black;
    margin: 40px;
}

body {
    box-shadow: 0 0 30px #ff0000;
    margin: 0;
    padding: 0;
    background-color: #bebebe;
    border-radius: 30px;
}

header {
    text-align: center;
    color: white;
    background-color: #757575;
}

a {
    text-decoration: none;
    color: #ff0000;
}

/* Navegador */

.main-nav {
    background-color: #f0f0f0;
}

#toggle {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    transition: background-color 0.3s;
}

.texto {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}

#toggle:checked ~.texto {
    display: block;
}

/* Clases */

.Form {
	background-color: #000000
}

.Logo {
	display: flex;
	max-width: 200px;
	align-items: center;
}

/* General */

img {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	align-items: center;
}

p {
	margin: 10px;
}

h1 {
	margin: 10px;
}

h2 {
	margin: 10px;
}

h3 {
	margin: 10px;
}

h4 {
	margin: 10px;
}

table, td, th {
	border: 1px solid #000;
	margin: 10px;
}

/* Galería */

.contenedor-galería {
	display: grid;
	align-items: center;
	width: 150px;
	grid-template-columns: 200px;
	justify-content: space-between;
}

.galería {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 400px;
}

.contenedor-imagen {
	display: flex;
	margin: 30px;
	max-width: 200px;
	border-radius: 5px;
	height: 200px;
	background-color: #efefef;
	box-shadow: 0 5px 12px #000000;
	justify-content: space-between;
}

.contenedor-imagen figure {
	margin: 30px;
	width: 200px;
}

.contenedor-imagen img {
	display: flex;
	justify-content: space-between; 
	height: 200px;
	width: 200px;
	transform: scale(1.1);
	border-radius: 5px;
}